/* Function
----------------------------------------*/
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pa{position:absolute;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oa{overflow:auto;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f-fs1{font-size:12px;}
.f-fs2{font-size:14px;}
.f-fwn{font-weight:normal;}
.f-fwb{font-weight:bold;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti{overflow:hidden;text-indent:-30000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
/***宽度【固定值】
----------------------------------------*/
.f-wfx3{width:30px;}
.f-wfx4{width:40px;}
.f-wfx6{width:60px;}
.f-wfx8{width:80px;}
.f-wfx10{width:100px;}
.f-wfx12{width:120px;}
.f-wfx15{width:150px;}
.f-wfx18{width:180px;}
.f-wfx20{width:200px;}
/***宽度【百分比】
----------------------------------------*/
.f-wpr2{width:19.97%;}
.f-wpr3{width:29.97%;}
.f-wpr4{width:39.97%;}
.f-wpr5{width:49.97%;}
.f-wpr6{width:59.97%;}
.f-wpr7{width:69.97%;}
.f-wpr8{width:79.97%;}
.f-wpr9{width:89.97%;}
.f-wpr10{width:100%;}
/***高度【固定值】
----------------------------------------*/
.f-hfx10{height:100px;}
.f-hfx15{height:150px;}
.f-hfx20{height:200px;}
.f-hfx25{height:250px;}
.f-hfx30{height:300px;}
.f-hfx35{height:350px;}
.f-hfx40{height:400px;}
.f-hfx45{height:450px;}
.f-hfx50{height:500px;}
.f-hfx55{height:550px;}
.f-hfx60{height:600px;}
.f-hfx65{height:650px;}
.f-hfx70{height:700px;}
.f-hfx75{height:750px;}
/***外边距【上边距】
----------------------------------------*/
.f-mt5{margin-top:5px;}
.f-mt10{margin-top:10px;}
.f-mt15{margin-top:15px;}
.f-mt20{margin-top:20px;}
.f-mt25{margin-top:25px;}
.f-mt30{margin-top:30px;}
.f-mt35{margin-top:35px;}
.f-mt40{margin-top:40px;}
.f-mt45{margin-top:45px;}
.f-mt50{margin-top:50px;}
.f-mt55{margin-top:55px;}
/***外边距【下边距】
----------------------------------------*/
.f-mb5{margin-bottom:5px;}
.f-mb10{margin-bottom:10px;}
.f-mb15{margin-bottom:15px;}
.f-mb20{margin-bottom:20px;}
.f-mb25{margin-bottom:25px;}
.f-mb30{margin-bottom:30px;}
.f-mb35{margin-bottom:35px;}
.f-mb40{margin-bottom:40px;}
.f-mb45{margin-bottom:45px;}
.f-mb50{margin-bottom:50px;}
.f-mb55{margin-bottom:55px;}
/***内边距【全局】
----------------------------------------*/
.f-pd3{padding:3px;}
.f-pd5{padding:5px;}
.f-pd10{padding:10px;}
.f-pd15{padding:15px;}
/***内边距【上边路】
----------------------------------------*/
.f-pdt5{padding-top:5px;}
.f-pdt10{padding-top:10px;}
.f-pdt15{padding-top:15px;}
.f-pdt20{padding-top:20px;}
.f-pdt25{padding-top:25px;}
.f-pdt30{padding-top:30px;}
.f-pdt35{padding-top:35px;}
.f-pdt40{padding-top:40px;}
.f-pdt45{padding-top:45px;}
.f-pdt50{padding-top:50px;}
.f-pdt55{padding-top:55px;}
/***内边距【下边距】
----------------------------------------*/
.f-pdb5{padding-bottom:5px;}
.f-pdb10{padding-bottom:10px;}
.f-pdb15{padding-bottom:15px;}
.f-pdb20{padding-bottom:20px;}
.f-pdb25{padding-bottom:25px;}
.f-pdb30{padding-bottom:30px;}
.f-pdb35{padding-bottom:35px;}
.f-pdb40{padding-bottom:40px;}
.f-pdb45{padding-bottom:45px;}
.f-pdb50{padding-bottom:50px;}
.f-pdb55{padding-bottom:55px;}
/***内边距【左边距】
----------------------------------------*/
.f-pdl3{padding-left:3px;}
.f-pdl5{padding-left:5px;}
.f-pdl10{padding-left:10px;}
.f-pdl15{padding-left:15px;}
.f-pdl20{padding-left:20px;}
.f-pdl25{padding-left:25px;}
.f-pdl30{padding-left:30px;}
.f-pdl35{padding-left:35px;}
.f-pdl40{padding-left:40px;}
.f-pdl45{padding-left:45px;}
.f-pdl50{padding-left:50px;}
.f-pdl55{padding-left:55px;}
/***内边距【右边距】
----------------------------------------*/
.f-pdr3{padding-right:3px;}
.f-pdr5{padding-right:5px;}
.f-pdr10{padding-right:10px;}
.f-pdr15{padding-right:15px;}
.f-pdr20{padding-right:20px;}
.f-pdr25{padding-right:25px;}
.f-pdr30{padding-right:30px;}
.f-pdr35{padding-right:35px;}
.f-pdr40{padding-right:40px;}
.f-pdr45{padding-right:45px;}
.f-pdr50{padding-right:50px;}
.f-pdr55{padding-right:55px;}
/***行高度
----------------------------------------*/
.f-lh20{line-height:20px;}
.f-lh22{line-height:22px;}
.f-lh24{line-height:24px;}
.f-lh25{line-height:25px;}
.f-lh26{line-height:26px;}
.f-lh28{line-height:28px;}
.f-lh30{line-height:30px;}
.f-lh32{line-height:32px;}
.f-lh36{line-height:36px;}
/***黑色&Black
----------------------------------------*/
.f-c-black{color:#000000;}
a.f-c-black{background:none;color:#000000;text-decoration:none;}
a.f-c-black:hover{background-color:#c7d1d6;color:#000000;text-decoration:none;}
/***白色&White
----------------------------------------*/
.f-c-white{color:#ffffff;}
a.f-c-white{background:none;color:#ffffff;text-decoration:none;}
a.f-c-white:hover{background-color:#c7d1d6;color:#ffffff;text-decoration:none;}
/***蓝色&Blue
----------------------------------------*/
.f-c-blue{color:#0000ff;}
a.f-c-blue{background:none;color:#0000ff;text-decoration:none;}
a.f-c-blue:hover{background-color:#c7d1d6;color:#0000ff;text-decoration:none;}
/***红色&Red
----------------------------------------*/
.f-c-red{color:#ff0000;}
a.f-c-red{background:none;color:#ff0000;text-decoration:none;}
a.f-c-red:hover{background-color:#c7d1d6;color:#ff0000;text-decoration:none;}
/***绿色&Green
----------------------------------------*/
.f-c-green{color:#eaf7da;}
a.f-c-green{background:none;color:#eaf7da;text-decoration:none;}
a.f-c-green:hover{background-color:#c7d1d6;color:#eaf7da;text-decoration:none;}
/***橙色&Orangered
----------------------------------------*/
.f-c-orangered{color:#ff6a00;}
a.f-c-orangered{background:none;color:#ff6a00;text-decoration:none;}
a.f-c-orangered:hover{background-color:#c7d1d6;color:#ff6a00;text-decoration:none;}
/***灰色&Gray
----------------------------------------*/
.f-c-gray{color:#808080;}
a.f-c-gray{background:none;color:#808080;text-decoration:none;}
a.f-c-gray:hover{background-color:#c7d1d6;color:#808080;text-decoration:none;}
/***洋红&Fuchsia
----------------------------------------*/
.f-c-fuchsia{color:#FF00FF;}
a.f-c-fuchsia{background:none;color:#FF00FF;text-decoration:none;}
a.f-c-fuchsia:hover{background-color:#fbfbfb;color:#FF00FF;text-decoration:none;}
